@import "variables";
@import "mixins";
@import "fonts";
@import "reset";

.container {
  margin: 0 auto;
  width: 100%;
  @include flex-main(center, column, center);
  display: flex;
  justify-content: center;
}

@import "header";
@import "fork-app";
@import "present";
@import "features";
@import "about-fork";
@import "pricing";
